configuration {
	modi:				"drun";
	font:				"JetBrainsMono Nerd Font 12";
	display-drun: 			"";
	sidebar-mode: 			false;
	drun-display-format: 		"{name}";
}

@theme "/dev/null"

* {
	bg:				#3b4252;
	fg:				#d8dee9;
	button:				#4c566a;
  highlight:    #81a1c1;

	background-color:		@bg;
	text-color:			@fg;
}

window {
	transparency:                   "real";
	border-radius:                  7px;
	width:			    	30%;
	padding: 			10px;
	location: 			center;
	border:				2px;
	border-color:			@highlight;
}

prompt { enabled: false; }

entry {
	placeholder:			"search";
	expand:                         true;
	padding:                        5px 2% 5px 2%;
	background-color:               @button;
  placeholder-color:              @fg;
}

inputbar {
	children: 			[ prompt, entry ];
	background-color:               @button;
	text-color:                     @fg;
	expand:                         false;
	border-radius:                  6px;
	padding:                        8px;
}

listview {
	columns:                        1;
	lines:	                        10;
	cycle:                          false;
	dynamic:                        true;
	layout:                         vertical;
}

mainbox {
	children:                       [ inputbar, listview ];
	spacing:                       	2%;
	padding:                        2% 1% 2% 1%;
}

element {
	orientation:                    vertical;
	border-radius:                  0%;
	padding:                        0.75% 0% 0.75% 0%;
}

element-text {
	expand:                         true;
	vertical-align:                 0.5;
	margin:                         0% 3% 0% 3%;
	background-color:               inherit;
  text-color:                     inherit;
}

element selected {
	background-color:               @fg;
	text-color:                     @bg;
	border-radius:                  6px;
  border-color:                   @highlight;
}
