@import "colors.css";

* {
  font-family: 'JetBrainsMono Nerd Font';
  font-weight: 700;
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
	text-shadow: none;
}

#waybar {
  background: transparent;
  font-size: 14px;
  border-radius: 15px;
  color:@nord4;
}

tooltip {
  padding: 0 15px;
  border-radius: 10px;
  background: @nord0;
  color: @nord4;
  border: 1px solid @nord2;
  font-size: 13px;
}

#main {
  background: @nord0;
  padding: 0px 10px;
  border-radius: 10px;
  border: 2px solid @nord0;
  /* transition: all 1s ease-in-out; */
}

#workspaces, #mpris, #clock, #wireplumber, #battery, #backlight {
  background: @nord0;
  border-radius: 15px;
  padding: 3px 8px;
} 

#custom-separator, #custom-mpris-separator {
  color: @nord3;
  padding: 0 15px;
}

#custom-mpris-separator {
  transition: opacity 0.3s ease;
}


#workspaces button {
  color: transparent;
  background: linear-gradient(90deg, @nord1 0%, @nord2 100%);
  border-radius: 7px;
  padding: 0px 7px;
  transition: all 0.3s ease;
  margin: 0 3px;
  min-height: 2px;
}

#workspaces button.active {
  padding: 0px 15px;
  color: @nord0;
  font-size: 14px;
  transition: all 0.3s ease;
  background: linear-gradient(90deg, @nord10 0%, @nord9 100%);
  min-width: 30px;
}

#workspaces button:hover {
  background: @nord1;
  transition: all 0.3s ease;
}



#workspaces button.occupied {
  min-height: 25px;
  transition: all 0.3s ease;
}

#mpris.paused {
  color: @nord3;
}

#battery.warning:not(.charging) {
    color: @nord13;
}

#battery.critical:not(.charging) {
    color: @nord12;
}
